@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// == MIXIN ==
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}
// == / MIXIN ==

// == VARIABLES ==
$base: 4px;

$fw-light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;


$transition: .2s;

$color-divider: #d8e3fe;

$color-primary: #697ca6;
$color-secondary: #6188ff;
// == / VARIABLES ==

// == COMMON == 22 15
body{
  @include roboto;

  color: #8d96bd;
}
.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

.input {
  padding: $base * 3 $base * 4;
  font-size: $fs-sm;
  color: #7a85ad;
  border: 1px transparent solid;
  background-color: #efeff7;
  border-radius: 2px;

  &--size-lg {
    padding: $base * 5 $base * 6;
    border-radius: 5px;
  }
}

.btn {
  @include quicksand;

  margin: 0;
  display: inline-block;
  padding: $base * 3 $base * 4;
  font-weight: $fw_bold;
  font-size: $fs-sm;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background: none;
  border: 1px transparent solid;
  box-sizing: border-box;
  border-radius: 2px;
  transition: $transition;

  &--size-lg {
    padding: $base * 5 $base * 15;
    border-radius: 5px;
  }

  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 10%);
    }
  }

  &--danger {
    background-color: #ffd7d7;
    color: #d43f3f;

    &:hover {
      background-color: darken(#ffd7d7, 10%);
    }
  }

  &--secondary {
    background-color: #4c85ff;
    color: #fff;

    &:hover {
      background-color: darken(#d2e1ff, 10%);
    }

    &-inverted {
      color: #565f82;
      background-color: #fff;

      &:hover {
        background-color: darken(#fff, 10%);
      }
    }
  }

  &--grayscale {
    background-color: #e8ecf4;
    color: #7382a3;

    &:hover {
      background-color: darken(#e8ecf4, 10%);
    }
  }

  &--no-bg {
    color: #adb4d2;
    border: 1px solid #d1d1e4;

    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#adb4d2, 10%);
    }

    &-inverted {
      color: #c7deff;
      border-color: #a0b4ff;

      &:hover {
        color: lighten(#c7d3ff, 10%);
        border-color: lighten(#a0b4ff, 10%);
      }
    }
  }
}
h1, h2, h3, h4, h5, h6{
  @include quicksand;

  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: $fw-regular;
  color: #3d4f9f;
}

h1,h2 {
  font-size: 48px;
  margin-bottom: $base * 7;
}
h3 {
  font-size: 36px;
  margin-bottom: $base * 7;
}
h4 {
  margin-bottom: $base * 20;
  font-size: 24px;
}
h5 {
  @include roboto;

  font-size: 10px;
  margin-bottom: $base * 4;
  text-transform: uppercase;
}

.ta-c {
  text-align: center;
}

.dots {
  @include list-null;

  display: flex;
  justify-content: center;

  &__item {
    width: $base * 2;
    height: $base * 2;
    cursor: pointer;
    background-color: #d1d6e3;
    border-radius: 100%;
    transition: $transition;

    &--active {
      background-color: #5283ff;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}

.btn-group {
  display: inline-flex;
  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
// == / COMMON ==



// === HEADER ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-navigation{
  display: flex;
  align-items: center;
}
.numbers{
  display: flex;
}
.logo{
  width: $base * 6;
  height: $base * 6;
  background-color: #5e81ff;
  border-radius: 100%;
}
.nav{
  margin-left: $base * 18;
}

.nav-wrapper{
  @include list-null;
  display: flex;

  &__item{
    & + & {
      margin-left: $base * 10;
    }
    &-link {
      @include quicksand;

      font-size: $fs-sm;
      color: $color-primary;
      text-decoration: none;
      font-weight: $fw_medium;
      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        font-weight: $fw_bold;
        color: $color-secondary;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper{
  @include list-null;
  display: flex;
  align-items: center;

  &__item{
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }
      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
// === / HEADER ===


// === HERO-IMAGE ===
.section-hero-image {
  position: relative;
  background-color: #f4f7ff;

  .dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;
    transform: translateX(-50%);
  }
}


.slider-hero-image {
  @include list-null;

  &__item {
    height: $base * 150;
    text-align: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &-content  {
      h2 {
        font-weight: $fw-light;

        span {
          font-weight: $fw-medium;
        }
      }
      .text {
        max-width: 60%;
        margin: 0 auto $base * 5;
        line-height: 2;
      }
    }
  }
}
.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base * 13;
  height: $base * 13;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(#c9d1e7, 0.6);

  &::before {
    display: block;
    width: 0;
    height: 0;
    content: '';
    margin-left: $base * 4;
    border-color: transparent;
    border-style: solid;
    border-width: $base*2 $base * 3;
    border-left-color: #5e81ff;
  }
}
// === / HERO-IMAGE ===


// === CUSTOMERS ===
.section-customers {
  .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;

      a {
        opacity: .3;
        transition: $transition;
        &:hover {
          opacity: 1;
        }
      }
  }
}
// === / CUSTOMERS ===


// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden;

  &__content {
    width: 50%;

    h3 {
      font-weight: $fw-light;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      margin-bottom: $base * 12;
      line-height: 2;
    }

    .btn-group {
      svg {
        margin-left: $base;
      }
    }

    .aside-image {
      position: absolute;
      top: 0;
      left: 45%;
    }
  }
}
// === / PLAN-AND-MANAGE ===


// === FEATURES ===
.section-features {
  background: url(../img/features-clouds.svg) no-repeat 50% 50%;

  h4 {
    font-weight: $fw-medium;
  }

  .btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
.features-list {
  @include list-null;

  display: flex;
  justify-content: space-around;
  margin: 0 0 $base * 25;
  text-align: center;

  &__item {
    flex-basis: 25%;
    position: relative;

    &:not(:first-child) {
      margin-left: $base * 10;
    }
    &:not(:first-child)::before {
      position: absolute;
      top: 120px;
      left: -34px;
      right: 100%;
      width: 28px;
      height: 1px;
      content: '';
      background-color: #dae4fe;
    }
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $base * 17;
      height: $base * 17;
      margin: 0 auto $base * 8;
      border-radius: 100%;
      background-color: #f1f5ff;
    }
    &-title {
      margin-bottom: $base * 7;
      font-size: $fs-md;
      font-weight: $fw-bold;
      color: #4074f8;
    }
    &-text {
      line-height: 2;
    }
  }
  img {
    margin: 0 auto $base * 8;
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-weight: $fw_medium;
  font-size: $fs-md;
  line-height: $base * 10;
  
  &::before,
  &::after {
    display: block;
    width: $base * 4;
    margin: 0 $base * 4;
    height: 1px;
    content: '';
    background-color: #dae4fe;
  }
}
// === / FEATURES ===


// === STATS ===
.section-stats {
  display: flex;
  background-color: #e9efff;

  &__icon {
    margin-bottom: $base * 6;

  }

  &__number {
    @include quicksand;

    margin-bottom: $base * 7;
    font-size: $fs-xl;
  }

  &__text {
    @include quicksand;

    width: 35%;
    font-size: $fs-lg;
    font-weight: $fw_medium;
  }

  &__left,
  &__right {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: $base * 16 $base * 22;
  }
  &__left {
    align-items: flex-end;
    background-color: #6888ff;
    color: #fff;
    text-align: right;
  }
  &__right {
    background-color: #e9efff;
    color: #5e80ff;
  }
}
// === / STATS ===


// === BLOG ===
.section-blog {
  background-color: #f5f8ff;
}

.slider-wrapper {
  position: relative;
  margin-bottom: $base * 25;
}

.slider-blog {
  @include list-null;

  background-color: #fff;
  border: 1px solid #d8e3fe;
  box-shadow: 0 15px 50px #eff4ff;

  &__item {
    display: flex;
    padding: $base * 16 $base * 8;

    &-gallery,
    &-content {
      flex-basis: 50%;
    }

    &-gallery {
      display: grid;
      grid-template-rows: repeat(2, 120px);
      grid-template-columns: repeat(3, 120px);
      grid-gap: 12px;
      .image-link {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 15px 50px #e5ebf8;

        .loupe {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: $base * 16;
          height: $base * 16;
          background: #fff url(../img/blog-loup.png) no-repeat 50% 50%;
          border-radius: 100%;
          opacity: 0;
          transition: $transition;
          transform: translate(-50%, -50%);
        }

        &:hover {
          .loupe {
            opacity: 1;
          }
        }

        img {
          height: 100%;
          width: 100%;
        }
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
        }

        &--b {
          grid-row: 1 / 3;
          grid-column: 1 / 3;

          &::before {
            background: linear-gradient(transparent, rgba(#ffc735, 40%));
          }
        }

        &--s-1 {
          grid-row: 1 / 2;
          grid-column: 3 / 4;

          &::before {
            background: linear-gradient(transparent, rgba(#ff3535, 40%));
          }
        }
        &--s-2 {
          grid-row: 2 / 3;
          grid-column: 3 / 4;

          &::before {
            background: linear-gradient(transparent, rgba(#35aaff, 40%));
          }
        }
      }
    }

    &-content {
      margin-left: 5%;

      .text {
        margin-bottom: $base * 10;
        font-size: $fs-md;
        line-height: 2;
      }
    }
  }

  .btn--no-bg {
    border: 0;
    margin-left: $base * 4;
  }
}
.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: $base * 10;
  height: $base * 10;
  background: url(../img/blog-arrow.svg) no-repeat 50% 50%;

  &--prev {
    right: 100%;
    margin-right: $base * 16;
    transform: translateY(-50%);
  }
  &--next {
    left: 100%;
    margin-left: $base * 16;
    transform: translateY(-50%) rotate(180deg);

  }
}
// === / BLOG ===


// === QUOTES ===
.section-quotes {
  background: linear-gradient(#eaebff, #f6f9ff);
  .section-inner {
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: $fw_medium;
    }
  }
  &__left,
  &__right {
    flex-basis: 45%;
  }

  &__left {
    .text {
      line-height: 2;
    }
  }
}

.slider-quotes {
  @include list-null;
  margin-bottom: $base * 20;

  &__item {
    position: relative;
    padding: $base * 10 $base * 17 $base * 15;
    border: 1px solid #d8e3fe;
    background-color: #fff;
    box-shadow: 0 5px 50px #d8e3fe;

    &-text {
      font-size: $fs-md;
      line-height: 2;
      color: #676f95;
    }

    &-photo {
      position: absolute;
      width: $base * 15;
      height: $base * 15;
      left: 50%;
      top: 100%;
      margin-top: -30px;
      overflow: hidden;
      background-color: #fff;
      border-radius: 100%;
      transform: translateX(-50%);
    }
  }
}
// === / QUOTES ===


// === FAQ ===
.section-faq {
  @include quicksand;

  margin: 0 auto;
  max-width: 700px;

  h4 {
    font-weight: $fw_medium;
  }
}
.faq-accordion {
  @include list-null;

  &__item {
    $parent: &;

    border-bottom: 1px solid #d8e3fe;

    &--active {

      #{$parent}-trigger {
        font-weight: $fw-bold;
        color: #495274;

        &-icon {
          transform: rotate(0deg) translateX(-1px);

          .arrow {
            stroke: #495274;
          }
        }
      }

      #{$parent}-content {
        display: flex;
      }
    }
    &-trigger{
      display: flex;
      padding: $base * 4;
      cursor: pointer;

      &-icon {
        width: $base * 4;
        margin-right: $base * 4;
        text-align: center;
        transform: rotate(180deg);

        .arrow {
          stroke: #8e96b7
        }
      }
      &-text {
        font-size: $fs-md;
      }
    }

    &-content{
      display: none;
      padding: 0 $base * 4 $base * 4 $base * 16;

      &-text {
        flex-grow: 1;
        font-size: $fs-md;
        line-height: 2;
      }
      &-btn {
        margin-top: $base * 4;
        margin-left: $base * 15;
      }
    }
  }
}
// === / FAQ ===


// === GET-STARTED ===
.section-get-started {
  position: relative;
  text-align: center;
  color: #fff;
  background: linear-gradient(#6888ff, #5e80ff);

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../img/get-started-clouds.svg) no-repeat 50% 50%;
    content: '';
    z-index: 5;
  }

  .section-inner {
    position: relative;
    z-index: 10;
  }

  h2,h5 {
    color: #fff;
  }

  h2 {
    font-weight: $fw_light;

    span {
      font-weight: $fw-medium;
    }
  }

  .text {
    line-height: 2;
    max-width: 80%;
    margin: 0 auto $base * 10;
  }
}
// === / GET-STARTED ===


// === NEWSLETTER ===
.section-newsletter {
  background-color: #fcfdff;

  .section-inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex-basis: 35%;

    &-title {
      @include quicksand;

      margin-bottom: $base * 4;
      font-size: $fs-lg;
      font-weight: $fw_bold;
      color: #3d4f9f;
    }

    &-text {
      font-size: $fs-md;
      line-height: 2;
    }
  }

  &__right {
    flex-basis: 50%;
  }
}

.form-newsletter {
  display: flex;

  .input {
    flex-grow: 2;
  }

  .btn {
    flex-grow: 1;
    margin-left: $base * 3;
  }
}
// === / NEWSLETTER ===


// === FOOTER ===
.section-footer {
  border-bottom: 0;
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}

.copyright {
  @include quicksand;

  margin-top: $base * 7;
  font-size: $fs-md;
  font-weight: $fw-medium;
  margin-left: $base * 24;
  color: #aeb8d0;
}

// === / FOOTER ===
