@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #8d96bd;
}

.section-outer {
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-inner--wide {
  max-width: 1200px;
}

.btn {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  border: 1px transparent solid;
  box-sizing: border-box;
  border-radius: 2px;
  transition: 0.2s;
}
.btn--primary {
  background-color: #d2e1ff;
  color: #3f79ff;
}
.btn--primary:hover {
  background-color: #9fbfff;
}
.btn--danger {
  background-color: #ffd7d7;
  color: #d43f3f;
}
.btn--danger:hover {
  background-color: #ffa4a4;
}
.btn--secondary {
  background-color: #4c85ff;
  color: #fff;
}
.btn--secondary:hover {
  background-color: #9fbfff;
}
.btn--no-bg {
  color: #adb4d2;
  border: 1px solid #d1d1e4;
}
.btn--no-bg:hover {
  color: #8c96c0;
  border: 1px solid #8c96c0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  color: #3d4f9f;
}

h1, h2 {
  font-size: 48px;
  margin-bottom: 28px;
}

h3 {
  font-size: 36px;
  margin-bottom: 28px;
}

h4 {
  margin-bottom: 80px;
  font-size: 24px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.ta-c {
  text-align: center;
}

.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.dots__item {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background-color: #d1d6e3;
  border-radius: 100%;
  transition: 0.2s;
}
.dots__item--active {
  background-color: #5283ff;
}
.dots__item + .dots__item {
  margin-left: 12px;
}

.btn-group {
  display: inline-flex;
}
.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.numbers {
  display: flex;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: #5e81ff;
  border-radius: 100%;
}

.nav {
  margin-left: 72px;
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: #697ca6;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
.nav-wrapper__item-link:hover {
  color: #6188ff;
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #6188ff;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 40px;
}
.socials-wrapper__item-link path {
  fill: #697ca6;
  transition: 0.2s;
}
.socials-wrapper__item-link:hover path {
  fill: #6188ff;
}

.btn-wrapper {
  margin-left: 44px;
}

.section-hero-image {
  position: relative;
  background-color: #f4f7ff;
}
.section-hero-image .dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-hero-image__item {
  height: 600px;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-hero-image__item-content h2 {
  font-weight: 300;
}
.slider-hero-image__item-content h2 span {
  font-weight: 500;
}
.slider-hero-image__item-content .text {
  width: 60%;
  margin: 0 auto 20px;
  line-height: 2;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
}
.icon-play::before {
  display: block;
  width: 0;
  height: 0;
  content: "";
  margin-left: 16px;
  border-color: transparent;
  border-style: solid;
  border-width: 8px 12px;
  border-left-color: #5e81ff;
}

.section-customers .section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-customers .section-inner a {
  opacity: 0.3;
  transition: 0.2s;
}
.section-customers .section-inner a:hover {
  opacity: 1;
}

.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden;
}
.section-plan-and-manage__content {
  width: 50%;
}
.section-plan-and-manage__content h3 {
  font-weight: 300;
}
.section-plan-and-manage__content h3 span {
  font-weight: 500;
}
.section-plan-and-manage__content .text {
  margin-bottom: 48px;
  line-height: 2;
}
.section-plan-and-manage__content .btn-group svg {
  margin-left: 4px;
}
.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 45%;
}

.section-features {
  background: url(../img/features-clouds.svg) no-repeat 50% 50%;
}
.section-features h4 {
  font-weight: 500;
}
.section-features .btns {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 0 100px;
  text-align: center;
}
.features-list__item {
  flex-basis: 25%;
  position: relative;
}
.features-list__item:not(:first-child) {
  margin-left: 40px;
}
.features-list__item:not(:first-child)::before {
  position: absolute;
  top: 120px;
  left: -34px;
  right: 100%;
  width: 28px;
  height: 1px;
  content: "";
  background-color: #dae4fe;
}
.features-list__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  margin: 0 auto 32px;
  border-radius: 100%;
  background-color: #f1f5ff;
}
.features-list__item-title {
  margin-bottom: 28px;
  font-size: 15px;
  font-weight: 700;
  color: #4074f8;
}
.features-list__item-text {
  line-height: 2;
}
.features-list img {
  margin: 0 auto 32px;
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
}
.or-block::before, .or-block::after {
  display: block;
  width: 16px;
  margin: 0 16px;
  height: 1px;
  content: "";
  background-color: #dae4fe;
}

.section-stats {
  display: flex;
  background-color: #e9efff;
}
.section-stats__icon {
  margin-bottom: 24px;
}
.section-stats__number {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 28px;
  font-size: 48px;
}
.section-stats__text {
  font-family: "Quicksand", sans-serif;
  width: 35%;
  font-size: 18px;
  font-weight: 500;
}
.section-stats__left, .section-stats__right {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding: 64px 88px;
}
.section-stats__left {
  align-items: flex-end;
  background-color: #6888ff;
  color: #fff;
  text-align: right;
}
.section-stats__right {
  background-color: #e9efff;
  color: #5e80ff;
}

.section-blog {
  background-color: #f5f8ff;
}

.slider-wrapper {
  position: relative;
  margin-bottom: 100px;
}

.slider-blog {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d8e3fe;
  box-shadow: 0 15px 50px #eff4ff;
}
.slider-blog__item {
  display: flex;
  padding: 64px 32px;
}
.slider-blog__item-gallery, .slider-blog__item-content {
  flex-basis: 50%;
}
.slider-blog__item-gallery {
  display: grid;
  grid-template-rows: repeat(2, 120px);
  grid-template-columns: repeat(3, 120px);
  grid-gap: 12px;
}
.slider-blog__item-gallery .image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 15px 50px #e5ebf8;
}
.slider-blog__item-gallery .image-link .loupe {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 64px;
  height: 64px;
  background: #fff url(../img/blog-loup.png) no-repeat 50% 50%;
  border-radius: 100%;
  opacity: 0;
  transition: 0.2s;
  transform: translate(-50%, -50%);
}
.slider-blog__item-gallery .image-link:hover .loupe {
  opacity: 1;
}
.slider-blog__item-gallery .image-link img {
  height: 100%;
  width: 100%;
}
.slider-blog__item-gallery .image-link::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.slider-blog__item-gallery .image-link--b {
  grid-row: 1/3;
  grid-column: 1/3;
}
.slider-blog__item-gallery .image-link--b::before {
  background: linear-gradient(transparent, rgba(255, 199, 53, 0.4));
}
.slider-blog__item-gallery .image-link--s-1 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.slider-blog__item-gallery .image-link--s-1::before {
  background: linear-gradient(transparent, rgba(255, 53, 53, 0.4));
}
.slider-blog__item-gallery .image-link--s-2 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.slider-blog__item-gallery .image-link--s-2::before {
  background: linear-gradient(transparent, rgba(53, 170, 255, 0.4));
}
.slider-blog__item-content {
  margin-left: 5%;
}
.slider-blog__item-content .text {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 2;
}
.slider-blog .btn--no-bg {
  border: 0;
  margin-left: 16px;
}

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/blog-arrow.svg) no-repeat 50% 50%;
}
.btn-blog--prev {
  right: 100%;
  margin-right: 64px;
  transform: translateY(-50%);
}
.btn-blog--next {
  left: 100%;
  margin-left: 64px;
  transform: translateY(-50%) rotate(180deg);
}

.section-quotes {
  background: linear-gradient(#eaebff, #f6f9ff);
}
.section-quotes .section-inner {
  display: flex;
  justify-content: space-between;
}
.section-quotes .section-inner h3 {
  font-weight: 500;
}
.section-quotes__left, .section-quotes__right {
  flex-basis: 45%;
}
.section-quotes__left .text {
  line-height: 2;
}

.slider-quotes {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}
.slider-quotes__item {
  position: relative;
  padding: 40px 68px 60px;
  border: 1px solid #d8e3fe;
  background-color: #fff;
  box-shadow: 0 5px 50px #d8e3fe;
}
.slider-quotes__item-text {
  font-size: 15px;
  line-height: 2;
  color: #676f95;
}
.slider-quotes__item-photo {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 100%;
  margin-top: -30px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 100%;
  transform: translateX(-50%);
}

.section-faq h4 {
  font-weight: 500;
}

.faq-accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq-accordion__item {
  border-bottom: 1px solid #d8e3fe;
}
.faq-accordion__item-trigger {
  display: flex;
  padding: 16px;
  cursor: pointer;
}
.faq-accordion__item-trigger-icon {
  width: 16px;
  text-align: center;
  margin-right: 16px;
}
.faq-accordion__item-trigger-icon .arrow {
  stroke: #8e96b7;
}
.faq-accordion__item-content {
  display: flex;
  padding: 0 16px 16px 48px;
}
.faq-accordion__item-content-text {
  flex-grow: 1;
  line-height: 2;
}
.faq-accordion__item-content-btn {
  margin-left: 60px;
}

.section-get-started {
  background-color: #6888ff;
}

.section-newsletter {
  background-color: #fcfdff;
}

.section-footer {
  border-bottom: 0;
}
.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  margin-top: 28px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 96px;
  color: #aeb8d0;
}