@import url('normalize.css');

// == MIXIN ==
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}
// == / MIXIN ==

// == VARIABLES ==
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1500px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;


$base: 0.25rem;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxs: 0.625rem;
$fs-xs: 0.75rem;
$fs-s: 0.9375rem;
$fs-m: 1.125rem;
$fs-l: 1.5rem;
$fs-xl: 2.25rem;
$fs-xxl: 3.125rem;

$transition: .2s;

$color-divider: #d8e3fe;

$color-white: #ffffff;
$color-primary: #495274;
$color-secondary: #6188ff;
// == / VARIABLES ==

// == COMMON ==
html {
  font-size: 20px;
  @media (max-width: $breakpoint-xxl-min) {
    font-size: 18px;
  }
  @media (max-width: $breakpoint-md-max) {
    font-size: 16px;
  }

  @media (max-width: $breakpoint-sm-max) {
    font-size: 14px;
  }
}

body{
  @include roboto;

  padding-top: $base * 20;
  color: #8d96bd;

  @media (max-width: $breakpoint-xxl-min) {
    padding-top: $base * 14;
  }
}

.section-outer {
  padding: 0 $base * 5;
  border-bottom: 1px solid $color-divider;
}

.section-inner {
  max-width: 1200px;
  margin: 0 auto;

  &--wide {
    max-width: 1500px;
  }
}

@media (max-width: $breakpoint-xxl-min) {
  .section-inner {
    max-width: 900px;

    &--wide {
      max-width: 1200px;
    }
  }
}

.vertical-indent {
  @mixin vertical-indent ($size) {
    padding-top: $size;
    padding-bottom: $size;
  }

  &--s { @include vertical-indent($base * 5); }

  &--m { @include vertical-indent ($base * 15); }

  &--l { @include vertical-indent ($base * 30); }

  @media (max-width: $breakpoint-md-max) {
    &--s { @include vertical-indent($base * 2); }

    &--m { @include vertical-indent ($base * 10); }

    &--l { @include vertical-indent ($base * 20); }
  }

  @media (max-width: $breakpoint-xs-max) {
    &--m { @include vertical-indent ($base * 5); }

    &--l { @include vertical-indent ($base * 10); }
  }
}

.input {
  padding: $base * 3 $base * 4;
  font-size: $fs-xs;
  color: #7a85ad;
  border: 1px transparent solid;
  background-color: #efeff7;
  border-radius: 2px;

  &--size-lg {
    padding: $base * 5 $base * 6;
    border-radius: $base;

    @media (max-width: $breakpoint-md-max) {
      padding-left: $base;
      padding-right: $base;
    }
  }
}

.btn {
  @include quicksand;

  margin: 0;
  display: inline-block;
  padding: $base * 3 $base * 4;
  font-weight: $fw-bold;
  font-size: $fs-xs;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background: none;
  border: 1px transparent solid;
  box-sizing: border-box;
  border-radius: 2px;
  transition: $transition;

  &--size-lg {
    padding: $base * 5 $base * 15;
    border-radius: $base;
  }

  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 10%);
    }
  }

  &--danger {
    background-color: #ffd7d7;
    color: #d43f3f;

    &:hover {
      background-color: darken(#ffd7d7, 10%);
    }
  }

  &--secondary {
    background-color: #4c85ff;
    color: $color-white;

    &:hover {
      background-color: darken(#d2e1ff, 10%);
    }

    &-inverted {
      color: #565f82;
      background-color: $color-white;

      &:hover {
        background-color: darken($color-white, 10%);
      }
    }
  }

  &--grayscale {
    background-color: #e8ecf4;
    color: #7382a3;

    &:hover {
      background-color: darken(#e8ecf4, 10%);
    }
  }

  &--no-bg {
    color: #adb4d2;
    border: 1px solid #d1d1e4;

    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#adb4d2, 10%);
    }

    &-inverted {
      color: #c7deff;
      border-color: #a0b4ff;

      &:hover {
        color: lighten(#c7d3ff, 10%);
        border-color: lighten(#a0b4ff, 10%);
      }
    }
  }
}
h1, h2, h3, h4, h5, h6{

  padding: 0;
  margin: 0;
  font-size: $fs-xxl;
  font-weight: $fw-regular;
}

h2 {
  @include roboto;

  font-size: $fs-xxs;
  margin-bottom: $base * 4;
  text-transform: uppercase;
  color: #3d4f9f;
}

.section-subtitle {
  @include quicksand;

  margin-bottom: $base * 7;
  font-size: $fs-xxl;
  color: #3d4f9f;
}

.ta-c {
  text-align: center;
}

.dots {
  @include list-null;

  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $base * 6;
  height: $base * 6;
  position: relative;
  cursor: pointer;

  &::before {
    display: block;
    width: $base * 2;
    height: $base * 2;
    content: '';
    background-color: #d1d6e3;
    border-radius: 100%;
    transition: $transition;

  }

  &-active::before {
    background-color: #5283ff;
  }

  & + & {
    margin-left: $base;
  }
}

.btn-group {
  display: inline-flex;
  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
// == / COMMON ==

// === NAVIGATION ===
.logo{
  &__link {
    display: block;
    width: $base * 6;
    height: $base * 6;
    background-color: #5e81ff;
    border-radius: 100%;
  }
}

.nav-wrapper{
  @include list-null;
  display: flex;

  &__item{
    & + & {
      margin-left: $base * 10;

      @media (max-width: $breakpoint-xs-max)  {
        margin-left: 0;
      }
    }
    &-link {
      @include quicksand;

      font-size: $fs-xs;
      color: $color-primary;
      text-decoration: none;
      font-weight: $fw-medium;
      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        font-weight: $fw-bold;
        color: $color-secondary;
      }
    }
  }
  @media (max-width: $breakpoint-xs-max)  {
    flex-direction: column;
    align-items: center;
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper{
  @include list-null;

  display: flex;
  align-items: center;

  &__item{
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }
      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
// === / NAVIGATION ===

// === HEADER ===
.main-navigation{
  display: flex;
  align-items: center;

  &__inner-wrap{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: $base * 18;

    .section-header & {
      @media (max-width: $breakpoint-md-max) {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 10;
        display: none;
        margin-left: 0;
        padding: $base * 5;
        background-color: $color-white;
      }
    }

    @media (max-width: $breakpoint-md-max) {
      display: flex;
      flex-direction: column;

      .socials,
      .nav {
        margin-bottom: $base * 4;
      }

      &,
      .socials,
      .btn-wrapper {
        margin-left: 0;
      }
    }
  }
  @media (max-width: $breakpoint-md-max) {
    .section-footer & {
      flex-direction: column;

      .logo {
        margin-bottom: $base * 4;
      }
    }
  }
}
.section-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  background-color: $color-white;

  &::before {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    content: '';
  }

  &--active-nav {
    &::before {
      display: block;
    }

    .main-navigation__inner-wrap {
      display: flex;
    }
  }
}
.btn-burger {
  display: none;
  margin-left: auto;

  &__line {
    display: block;
    height: 2px;
    width: $base * 4;
    background-color: #8d96bd;

    & + & {
      margin-top: $base;
    }
  }

  @media (max-width: $breakpoint-md-max) {
    display: flex;
    flex-direction: column;
  }
}

.numbers{
  display: flex;
}

// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
  position: relative;
  background-color: #f4f7ff;
  padding: 0;
  overflow: hidden;

  .dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider-hero-image {
  @include list-null;

  display: flex;

  &__item {
    min-width: 100%;
    height: $base * 150;
    text-align: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &-content  {
      .section-subtitle {
        font-weight: $fw-light;

        span {
          font-weight: $fw-medium;
        }
      }
      .text {
        max-width: 60%;
        margin: 0 auto $base * 5;
        line-height: 2;
      }
    }
  }
}
.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base * 13;
  height: $base * 13;
  border-radius: 100%;
  background-color: $color-white;
  box-shadow: 0 $base * 2 $base * 12 rgba(#c9d1e7, 0.6);

  &::before {
    display: block;
    width: 0;
    height: 0;
    content: '';
    margin-left: $base * 4;
    border-color: transparent;
    border-style: solid;
    border-width: $base*2 $base * 3;
    border-left-color: #5e81ff;
  }
}
// === / HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
  .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      opacity: .3;
      transition: $transition;
      &:hover {
        opacity: 1;
      }
    }

    @media (max-width: $breakpoint-sm-max) {
      flex-wrap: wrap;
      justify-content: center;

      a {
        flex-basis: 45%;
        text-align: center;
        margin-top: $base * 3;
        margin-bottom: $base * 3;
      }
    }
  }

}
// === / CUSTOMERS ===


// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden;

  &__content {
    width: 50%;

    .section-subtitle {
      font-weight: $fw-light;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      margin-bottom: $base * 12;
      line-height: 2;
    }

    .btn-group {
      svg {
        margin-left: $base;
      }
    }
    .aside-image {
      position: absolute;
      top: 0;
      left: 45%;
      @media (max-width: $breakpoint-xs-max) {
        display: none;
      }
      &-mini {
        display: none;
        @media (max-width: $breakpoint-xs-max) {
          display: block;
          position: absolute;
          top: $base * 24;
          right: $base * 4;
        }
      }
    }
    @media (min-width: $breakpoint-lg-min) {
      width: 40%;
    }
    @media (max-width: $breakpoint-xs-max) {
      width: 60%;
    }
  }
}
// === / PLAN-AND-MANAGE ===


// === FEATURES ===
.section-features {
  background: url(../img/features-clouds.svg) no-repeat 50% 50%;

  .section-subtitle {
    font-weight: $fw-medium;
    font-size: $fs-l;
    margin-bottom: $base * 23;
  }

  @media (max-width: $breakpoint-xs-max) {
    .section-subtitle {
      margin-bottom: $base * 10;
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
.features-list {
  @include list-null;

  display: flex;
  justify-content: space-around;
  margin: 0 0 $base * 25;
  text-align: center;



  &__item {
    flex-basis: 25%;
    position: relative;

    & + & {
      margin-left: $base * 10;

      &:before {
        position: absolute;
        top: $base * 30;
        left: $base * -8;
        width: $base * 7;
        height: 1px;
        content: '';
        background-color: #dae4fe;
      }

      @media (max-width: $breakpoint-xs-max) {
        margin-bottom: $base * 8;
        margin-left: 0;
        &::before {
          display: none;
        }
      }
    }
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $base * 17;
      height: $base * 17;
      margin: 0 auto $base * 8;
      border-radius: 100%;
      background-color: #f1f5ff;
    }

    &-title {
      @include roboto;

      margin-bottom: $base * 7;
      font-size: $fs-s;
      font-weight: $fw-bold;
      color: #4074f8;
    }

    &-text {
      line-height: 2;
      font-size: $fs-xs;
    }

    @media (max-width: $breakpoint-xs-max) {
      flex-basis: 45%;

      &-icon { margin-bottom: $base * 4; }
      &-title { margin-bottom: $base * 3; }
    }
  }
  img {
    margin: 0 auto $base * 8;
  }

  @media (max-width: $breakpoint-md-max) {
    margin-bottom: $base * 15;
  }

  @media (max-width: $breakpoint-xs-max) {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $base * 5;
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-weight: $fw-medium;
  font-size: $fs-s;
  line-height: $base * 10;
  
  &::before,
  &::after {
    display: block;
    width: $base * 4;
    margin: 0 $base * 4;
    height: 1px;
    content: '';
    background-color: #dae4fe;
  }
}
// === / FEATURES ===


// === STATS ===
.section-stats {
  display: flex;
  padding: 0;
  background-color: #e9efff;

  &__icon {
    margin-bottom: $base * 6;
  }

  &__number {
    @include quicksand;

    margin-bottom: $base * 7;
    font-size: $fs-xxl;
  }

  &__text {
    @include quicksand;

    width: 35%;
    font-size: $fs-m;
    font-weight: $fw-medium;
    line-height: 1.5;

    @media (max-width: $breakpoint-lg-min) {
      width: 100%;
    }
  }

  &__left,
  &__right {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: $base * 16 $base * 22;
  }

  &__left {
    align-items: flex-end;
    background-color: #6888ff;
    color: $color-white;
    text-align: right;
  }

  &__right {
    background-color: #e9efff;
    color: #5e80ff;
  }

  @media (max-width: $breakpoint-xs-max) {
    &__left,
    &__right {
      padding: $base * 8 $base * 10;
    }
  }
}
// === / STATS ===


// === BLOG ===
.section-blog {
  background-color: #f5f8ff;

  .section-subtitle {
    font-weight: $fw-medium;
    font-size: $fs-l;
    margin-bottom: $base * 23;
  }

  @media (max-width: $breakpoint-xs-max) {
    .section-subtitle {
      margin-bottom: $base * 10;
    }
  }
}

.slider-blog {
  position: relative;
  margin-bottom: $base * 10;

  @media (max-width: $breakpoint-md-max) {
    margin-bottom: $base * 8;
  }
}

.slider-blog-container {
  position: relative;
  overflow: hidden;
  background-color: $color-white;
  border: 1px solid #d8e3fe;
  box-shadow: 0 $base * 3 $base * 12 #c9d7ff;


}

.slider-blog-wrapper {
  @include list-null;
  display: flex;

  &__item {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    padding: $base * 16 $base * 8;
    box-sizing: border-box;

    &-gallery {
      display: grid;
      grid-template-rows: repeat(2, $base * 30);
      grid-template-columns: repeat(3, $base * 30);
      grid-gap: $base * 4;
      width: 100%;

      @media (max-width: $breakpoint-md-max) {
        grid-template-rows: repeat(2, $base * 28);
        grid-template-columns: repeat(3, $base * 28);
      }

      .image-link {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: $base;
        box-shadow: 0 $base * 3 $base * 12 #e5ebf8;

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: $base * 16;
          height: $base * 16;
          content: '';
          background: $color-white url(../img/blog-loup.webp) no-repeat 50% 50%;
          border-radius: 100%;
          opacity: 0;
          transition: $transition;
          transform: translate(-50%, -50%);
        }

        &:hover:after {
          opacity: 1;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
        }

        &--b {
          grid-row: 1 / 3;
          grid-column: 1 / 3;

          &::before {
            background: linear-gradient(transparent, rgba(#ffc735, 40%));
          }
        }

        &--s-1 {
          grid-row: 1 / 2;
          grid-column: 3 / 4;

          &::before {
            background: linear-gradient(transparent, rgba(#ff3535, 40%));
          }
        }

        &--s-2 {
          grid-row: 2 / 3;
          grid-column: 3 / 4;

          &::before {
            background: linear-gradient(transparent, rgba(#35aaff, 40%));
          }
        }
      }

        @media (max-width: $breakpoint-sm-max) {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $base * 2;

        .image-link {
          grid-row: 1 / 2;

          &--b { grid-column: 1 / 2; }
          &--s-1 { grid-column: 2 / 3; }
          &--s-2 { grid-column: 3 / 4; }
        }
      }
    }

    &-content {
      flex-grow: 1;
      margin-left: $base * 10;
      @media (max-width: $breakpoint-md-max) {
        margin-left: $base * 6;
      }

      h3 {
        @include quicksand;

        font-size: $fs-xl;
        margin-bottom: $base * 7;
        color: #3d4f9f;
      }

      .text {
        margin-bottom: $base * 10;
        font-size: $fs-s;
        line-height: 2;
      }
    }

    @media (max-width: $breakpoint-sm-max) {
      flex-direction: column;
      align-items: flex-start;
      padding: $base * 6;

      &-content {
        position: relative;
        z-index: 5;
        margin-top: $base * 6;
        margin-left: 0;

        h3 {
          margin-bottom: $base * 3;
        }
      }
    }
  }

  .btn--no-bg {
    border: 0;
    margin-left: $base * 4;
  }
}
.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: $base * 10;
  height: $base * 10;
  background: url(../img/blog-arrow.svg) no-repeat 50% 50%;

  &--prev {
    right: 100%;
    margin-right: $base * 16;
    transform: translateY(-50%);
  }
  &--next {
    left: 100%;
    margin-left: $base * 16;
    transform: translateY(-50%) rotate(180deg);
  }
  @media (max-width: $breakpoint-lg-max) {
    display: none;
  }
}
// === / BLOG ===


// === QUOTES ===
.section-quotes {
  background: linear-gradient(#eaebff, #f6f9ff);
  overflow: hidden;

  .section-inner {
    display: flex;
    justify-content: space-between;

    .section-subtitle {
      font-size: $fs-xl;
      font-weight: $fw-medium;
    }

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
    }
  }

  &__left,
  &__right {
    width: 45%;

    @media (max-width: $breakpoint-md-max) {
      width: 100%;
    }
  }

  &__left {
    .text {
      line-height: 2;
    }

  }
}

.slider-quotes-container {
  width: calc(50vw + #{$base * 12});
  margin: $base * -12 0 $base * 10 $base * -12;
  overflow: hidden;

  @media (max-width: $breakpoint-md-max) {
    width: 110vw;
    margin-top: 0;
  }
}

.slider-quotes {
  @include list-null;

  display: flex;

  &__item {
    min-width: 25vw;
    padding: $base * 12;
    opacity: .5;
    transition: opacity $transition;

    &.swiper-slide-active {
      opacity: 1;
    }

    @media (max-width: $breakpoint-md-max) {
      min-width: 60vw;
    }
  }
}

.slider-quotes-item-content {
  position: relative;
  padding: $base * 10 $base * 17 $base * 15;
  background-color: $color-white;
  border: 1px solid #d8e3fe;
  box-shadow: 0 $base $base * 12 #c9d7ff;

  &__text {
    font-size: $fs-s;
    line-height: 2;
    color: #676f95;
  }

  &__photo {
    position: absolute;
    width: $base * 15;
    height: $base * 15;
    left: 50%;
    top: 100%;

    transform: translate(-50%, $base * -7.5);

    &-pic3 {
      overflow: visible;
      transform: translateY($base * -8);
    }
  }
}
// === / QUOTES ===


// === FAQ ===
.section-faq {
  @include quicksand;

  margin: 0 auto;
  max-width: 720px;

  .section-inner {
    .section-subtitle {
      font-size: $fs-l;
      font-weight: $fw-medium;
    }
  }
}
.faq-accordion {
  @include list-null;

  &__item {
    $parent: &;

    border-bottom: 1px solid #d8e3fe;

    &--active {

      #{$parent}-trigger {
        &-icon {
          transform: rotate(0deg) translateX(-1px);

          .arrow {
            stroke: $color-primary;
          }
        }

        &-text {
          font-weight: $fw-bold;
          color: $color-primary;
        }
      }

      #{$parent}-content {
        display: flex;
      }
    }

    &-trigger{
      display: flex;
      padding: $base * 4;
      cursor: pointer;

      &-icon {
        width: $base * 4;
        margin-right: $base * 4;
        text-align: center;
        transform: rotate(180deg);

        .arrow {
          stroke: #8e96b7
        }
      }

      &-text {
        font-size: $fs-s;
      }
    }

    &-content{
      display: none;
      padding: 0 $base * 4 $base * 4 $base * 16;

      &-text {
        flex-grow: 1;
        font-size: $fs-s;
        line-height: 2;
      }

      &-btn {
        margin-top: $base * 4;
        margin-left: $base * 15;
      }

      @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;
        padding: 0 0 0 $base * 12;

        &-text {
          margin-bottom: $base * 2;
        }

        &-btn {
          margin: 0;
          padding-bottom: $base * 4;
        }
      }
    }
  }
}
// === / FAQ ===


// === GET-STARTED ===
.section-get-started {
  position: relative;
  text-align: center;
  color: $color-white;
  background: linear-gradient(#6888ff, #5e80ff);

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../img/get-started-clouds.svg) no-repeat 50% 50%;
    content: '';
    z-index: 5;
  }

  .section-inner {
    position: relative;
    z-index: 10;

    h2 {
      color: $color-white;
    }

    .section-subtitle {
      color: $color-white;
      font-weight: $fw_light;
      margin-bottom: $base * 7;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      line-height: 2;
      max-width: 80%;
      margin: 0 auto $base * 10;

      @media (max-width: $breakpoint-xs-max) {
        max-width: 100%;
      }
    }
  }
}
// === / GET-STARTED ===


// === NEWSLETTER ===
.section-newsletter {
  background-color: #fcfdff;

  .section-inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
    }
  }

  &__left {
    flex-basis: 35%;

    &-title {
      @include quicksand;

      margin-bottom: $base * 4;
      font-size: $fs-m;
      font-weight: $fw-bold;
      color: #3d4f9f;
      text-transform: none;
    }

    &-text {
      font-size: $fs-s;
      line-height: 2;
    }

    @media (max-width: $breakpoint-md-max) {
      margin-bottom: $base * 5;
    }
  }

  &__right {
    flex-basis: 50%;
  }
}

.form-newsletter {
  display: flex;

  &__input {
    flex-grow: 2;
  }

  &__btn {
    flex-grow: 1;
    margin-left: $base * 3;
  }
}
// === / NEWSLETTER ===


// === FOOTER ===
.section-footer {
  border-bottom: 0;
}

.copyright {
  @include quicksand;

  margin-top: $base * 7;
  font-size: $fs-s;
  font-weight: $fw-medium;
  margin-left: $base * 24;
  color: #aeb8d0;

  @media (max-width: $breakpoint-md-max) {
    margin-left: 0;
    text-align: center;
  }
}

// === / FOOTER ===
